# --- Secrets and Credentials ---
.env
.env*
secrets.json

# --- Python & Virtual Environments ---
venv/
env/
ENV/
bin/
lib/
include/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# --- Airflow Specifics ---
logs/
airflow.db
airflow-*.err
airflow-*.out
airflow-*.log
airflow-*.pid

# --- IDEs and OS ---
.vscode/
!.vscode/extensions.json
.idea/

# System files
.DS_Store
Thumbs.db